body{
	font-family: 'Montserrat-Black', sans-serif;
	text-align:center;
}
	.container-fluid{
	padding:7% 10%;
}
.big-heading{
   font-size: 3.5rem;
   color:#fff;
	}
	h1,h2,h3,h4,h5,h6{
		font-weight: bold;
		font-family:'Montserrat-bold';
		line-height: 1.5;
	}
	.bg-w{background-color:#fff;}
.main-color{
background-color:#ff4c68;}

	/*start title*/
#title .container-fluid{
	padding:3% 15% 5%;
}
#title h1{text-align:left;}
/*button*/
#title button{
	margin:3rem  3%;
	float: left;
}
/*navbar section*/
.navbar{
	padding:0 0 3.5rem 0;
}
.navbar-nav a{
	padding:0 3%;
	font-size:1.3rem;
}

.navbar-brand{
	font-size:2.5rem;
	font-family: 'Ubuntu';
}
.nav-item{
	padding: 0 3%;
	font-family: 'Montserrat'
}
.head-img{
	width:50%;
	transform:rotate(26deg);
	position:absolute;
	right:8rem;
}
/*start features*/
#features{
	position:relative;
	z-index: 1;
}
#features i{
	color:#ff4c68; 
margin-bottom:6%;
opacity:.7;
}
#features i:hover{opacity: 1;}

/*testimonials*/
#testimonials{text-align:center;}
#testimonials h2{
	font-size: 3rem;
	color:#fff;
}
#testimonials img{
	width:10%;
	border-radius:100%;
	margin:3%;
}
#testimonials .container-fluid{padding:3% 15%;}
/*press secto*/
#press{		text-align: center;}
#press img{
	width:15%;
	padding:0 2% 3% 2%;
}
#press .container-fluid{padding:0 15% 3% ;}
/*Pricing*/
#pricing{text-align: center;}
.card-prise{padding:5% 3%;}
#pricing h2{
	font-size: 3rem;
	color:#000;
}
/*cta*/
#cta h3{
	font-size: 2.5rem;
	color:#fff;
	margin-top:0;
	margin:0 0 5%  0;
}
#cta button{margin:1%;}
/*footer*/
#footer{padding:1% 15%;}
#footer p{
	margin-top:1rem 0 0 0;

}
#footer i{padding:3%;}
#footer p i{color:#ff4c68;}
#footer .container-fluid{padding:2% 15%;}

/*media quries*/
@media (max-width:992px){
#title .container-fluid{
	padding:7% 7%;
}
.navbar-nav a{
float: right;
}
#title h1{text-align:center;}
#title button{float: none;}
	.head-img{
		position:static;
		transform:rotate(0);
	}
	#testimonials h2{font-size:2rem;}
}
